# See http://help.github.com/ignore-files/ for more about ignoring files.

bin/
build/
~*
.gradle/
dist/
node_modules/
*.log
*.class
Instructions/
compute_dot_product/
compute_dot_product.jar
.vscode/
jars/compute_dot_product.jar
src/main/webapp/dot-product.html
src/main/java/remote/tasks/ComputeDotProductTask.java
src/main/java/webservice/endpoints/WebServiceEndpoint.java

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
